{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости Sportscar365</title>
    <link rel="stylesheet" href="{% static 'imsa_news/css/news.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Новости с Sportscar365</h1>

    {% if news %}
        <!-- Большой контейнер с красным фоном для всех новостей -->
        <div class="news-container" id="news-container">
            <div class="all-news-wrapper"> <!-- Этот блок будет содержать все новости -->
                <div class="all-news"> <!-- Все новости в одном контейнере -->
                    {% for item in news %}
                        <div class="news-item">
                            <a href="{{ item.link }}" target="_blank" class="news-link">
                                <img src="{{ item.image }}" alt="Image" class="news-image">
                            </a>

                            <div class="news-text">
                                {% if item.heading3 %}
                                    <p class="news-heading3">{{ item.heading3 }}</p>
                                {% endif %}
                                {% if item.heading2 %}
                                    <p class="news-heading2">{{ item.heading2 }}</p>
                                {% endif %}
                                {% if item.pading %}
                                    <p class="news-pading">{{ item.pading }}</p>
                                {% endif %}
                                {% if item.author %}
                                    <p class="news-author">Автор: <a href="{{ item.author_link }}" target="_blank">{{ item.author }}</a></p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <a href="#" id="load-more-btn" class="mvp-inf-more-but">More Posts</a>
    {% else %}
        <p>Новости не найдены.</p>
    {% endif %}
</body>
</html>
