{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static 'imsa_users/css/login.css' %}">
</head>
<body>
  <div class="box">
    <span class="borderLine"></span>

    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <h2>IMSA SportsCar Championship</h2>

      <div class="inputBox">
        <input type="text" name="username" required="required">
        <span>Введите логин</span>
        <i></i>    
      </div>

      <div class="inputBox">
        <input type="password" name="password" required="required">
        <span>Введите пароль</span>
        <i></i>    
      </div>

      <div class="links">
        <a href="{% url 'register' %}">Регистрация</a>  
      </div>

      <input type="submit" value="Вход">
    </form>
  </div>
</body>
</html>
