{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'imsa_users/css/register.css' %}">
</head>
<body>
  <div class="box">
    <span class="borderLine"></span>
    <form method="POST" action="{% url 'register' %}">
      {% csrf_token %}
      <h2>IMSA SportsCar Championship</h2>

      <div class="inputBox">
        <input type="text" name="username" required="required">
        <span>Введите имя</span>
        <i></i>    
      </div>

      <div class="inputBox">
        <input type="email" name="email" required="required">
        <span>Введите email</span>
        <i></i>    
      </div>  

      <div class="inputBox">
        <input type="password" name="password" required="required">
        <span>Введите пароль</span>
        <i></i>    
      </div> 
  
      <div class="links">
        <a href="#">Забыли пароль?</a>   
      </div>

      <input type="submit" value="Зарегистрироваться">
    </form>
  </div>
</body>
</html>
