<!DOCTYPE html>
<html>
<head>
  <title>Карта с врачами</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="https://api-maps.yandex.ru/2.1/?apikey=225c51d2-11f6-41c6-bae6-e2e241da6268&lang=ru_RU"></script>
  <script>
    ymaps.ready(initMap);

    function initMap() {
      const map = new ymaps.Map("map", {
        center: [55.733842, 37.588144],  
        zoom: 10
      });

      map.controls.add("zoomControl");
      }
  </script>
</head>

<body>
  <div id="map" style="width: 600px; height: 400px;"></div>
</body>
</html>